*.erc
*.log
*.json
*.pyc
*.net
/generate_netlist_lib_sklib.py
/generate_netlist2_lib_sklib.py
*.eblif
*.place
*.rpt
*.bak
*.png
serv2.route
fp-info-cache
serv_vpr_generated.kicad_net
serv_vpr_generated.kicad_pcb
serv_vpr_generated.kicad_pro
serv_vpr_generated.kicad_prl
serv_vpr_generated.dsn
result
result[0-9]
~*.lck
_autosave*
serv_vpr_generated*
